#auth-page {
    max-width: 400px;
    margin: auto
}

.btn-auth-secondary {
    display: flex !important;
    justify-content: center;
    align-items: center;

    color: var(--primary) !important;
    background-color: var(--white) !important;
}

.btn-auth-secondary:hover {
    background-color: var(--light) !important;
}



